.cart-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
  display: none;
}

.cart {
  position: fixed;
  top: 0;
  transform: translateX(100vw);
  width: 400px;
  height: 100vh;
  /* background: #f9f9f9; */
  background: #ffffff;
  padding: 10px 5px;
  text-align: center;
  z-index: 600;
  transition: all 0.25s ease-in;
}

.cart.show {
  transform: translateX(calc(100vw - 400px));
  transition: all 0.25s ease-out;
}

.cart-backdrop.show {
  display: block;
}

.closeCartDrawer {
  color: black;
  width: 1.5rem;
  height: auto;
}

.closeIconWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 5px 10px;
}

.cart h2 {
  text-align: left;
  padding-left: 10px;
}

.checkoutBtnWrapper {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 1.5rem;
  margin: auto;
}
