.filters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

.filters-wrapper {
  margin: 0 auto;
  display: flex;
  width: 100%;
  margin-top: 2.5rem;
}

.filters-max-width {
  max-width: 800px;
  width: 100%;
}

.searchGroup {
  width: 100%;
  font-family: "Oswald", sans-serif;

  label {
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 700;
    display: block;
  }

  input {
    height: 2.5rem;
    width: 75%;
    display: block;
    margin: 0 auto;
    padding: 0.25rem 0.5rem;
    border: 2px solid #1c2237;
    border-radius: 6px;
    background-color: transparent;
    font-family: inherit;
    letter-spacing: 2px;
    font-size: 16px;

    &:active,
    &:focus {
      outline: none;
    }
  }
}

.filter-column {
  flex: 1;
  text-align: center;
}

.filter-column-title {
  margin-bottom: 15px;
}

.filter-column-inner {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 760px) {
    width: 80%;
  }
}
