.landing__section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
  height: 100vh;
}

.welcome-img {
  position: fixed;
  z-index: -10;
  width: 100%;
  height: 100vh;
  /* background: url("../../images/coffee-hero-img-1.jpg") no-repeat center center; */
  /* background: url("../../images/coffee-hero-img-2.jpg") no-repeat center center; */
  background: url("../../images/coffee-bgc-img-2.jpg") no-repeat center center;
  background-size: cover;
}

.landing__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.landing__text-wrapper > h1 {
  font-size: 24px;
  color: #fff;
}

.landing__text-wrapper > Button {
  margin: 10px;
  font-family: "Oswald", sans-serif;
}
