.landing__section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100%;
  background: url("../../images/coffee-hero-img-1.jpg") no-repeat center center;
  background-size: cover;
}

.landing__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.landing__text-wrapper > h1 {
  font-size: 24px;
  color: #fff;
}

.landing__text-wrapper > Button {
  margin: 10px;
  font-family: "Oswald", sans-serif;
}
