.section__shoplist-wrapper {
  padding: 250px 10px;
}

.shopItems-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: flex-start;
}

.shopItems-container {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.tree:last-child {
  justify-self: start;
}
