:root {
  --iconHoverTime: 0.2s;
}

.cart__item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.5rem;
}

.cart__item-row:last-child {
  margin-bottom: 0;
}

.item-imgWrapper {
  max-width: 130px;
  background-color: rgba(226, 226, 226, 0.5);
  border-radius: 6px;
}

.item-info {
  text-align: left;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 0.25rem;
  height: 100%;
}

p {
  line-height: 2.5;
}

.item-name {
  font-weight: 700;
}

.item-action {
  display: flex;
  flex-grow: 0.25;
  justify-content: center;
  height: 100%;
}
.item-remove-btn {
  border: none;
  background-color: transparent;
}

.trashIcon {
  font-size: 20px;
  transition: all var(--iconHoverTime) ease-out;
}

.trashIcon:hover {
  transform: scale(1.2);
  transition: all var(--iconHoverTime) ease-out;
}

.item-qty-price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-qty-price > p,
.item-qty-price > div {
  flex: 1;
}

.item-x-wrapper {
  text-align: right;
}

.item-x-wrapper p {
  margin-right: 20px;
}

.item-qty input {
  max-width: 50%;
  line-height: 24px;
  text-align: right;
}
